*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  overflow-x: hidden;
}
.font{
  font-family: 'Sedgwick Ave', cursive;
}
.member{
 
  margin: 5px auto;
  text-align: center;
 }
 .navbar-nav a{
  margin-right: 80px;
  font-size: 20px;
}
button,a{
  text-decoration: none;
  color:white
}

.slider{
  display: grid;
 
  margin:0px auto;
  width:90%;
  place-items: center;
  
}

.slider-trace{
  display: flex;
  width:calc(250 * 6);
  animation: scroll 20s linear infinite;/*make auto slider*/
 
}
.slide{

  display: flex;
  align-items: center;
  padding: 15px;

}

/*make auto slider*/
@keyframes scroll {
  0% {
    transform: translateX((0));

  }
  100% {
    transform: translateX(calc(-250px *3));
  }
}
