@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #feee00;
  --bg-color: #f3f4f8;
  --primary-font-color: #7e859b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
  overflow-x: hidden;
}
body {
  background-color: rgba(128, 128, 128, 0.166);
}
.font {
  font-family: "Sedgwick Ave", cursive;
}
.member {
  margin: 5px auto;
  text-align: center;
}
.navbar-nav a {
  margin-right: 80px;
  font-size: 20px;
}
button,
a {
  text-decoration: none;
  color: black;
}

.slider-trace-brand {
  display: flex;

  animation: scroll 20s linear infinite; /*make auto slider*/
}

.slider-brand-img {
  margin-left: 50px;
}
@media (max-width: 1000px) {
  .slider-brand-img {
    margin-left: none;
  }
}
/*make auto slider*/
@keyframes scroll {
  0% {
    transform: translateX((0));
  }
  100% {
    transform: translateX(calc(-250px * 3));
  }
}

/* Start Global Style */
.main-btn,
.main-btn:hover,
.main-btn:focus {
  background-color: var(--primary-color);
  color: #333;
  border-color: var(--primary-color);
  font-weight: 600;
}

.secondary-btn,
.secondary-btn:hover,
.secondary-btn:focus {
  background-color: var(--primary-font-color);
  color: #333;
  border-color: var(--primary-font-color);
  font-weight: 600;
}
/* End Global Style */

/* Start Categories Style */
.category {
  padding: 2rem 0;
  background-color: rgba(255, 255, 255, 0.812);
  margin-top: 20px;
}

.category .card {
  border: none;
  padding: 0.5rem;
  background-color: rgba(148, 108, 221, 0.703);
  margin-left: 10px;
}

.category .card-img {
  height: 200px;
  object-fit: cover;
}

.product-description {
  border-left: 1px rgba(0, 0, 0, 0.111) solid;
}
.product-description p {
  border-bottom: 1px rgba(0, 0, 0, 0.111) solid;

  padding-bottom: 10px;
}

.cart-image {
  width: 20%;
  text-align: center;
}

/* Start Account Settings */
.account-settings {
  max-width: 100%;
  margin-bottom: -50px;
}

.account-settings .aside,
.account-settings .content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.account-settings .aside {
  background-color: #fff;
}

.account-settings .aside h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.5rem;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.account-settings svg {
  display: inline-block;
}

.account-settings .aside .list-group-item {
  border: none;
}

.account-settings .aside .badge {
  color: #333;
  background-color: var(--primary-color) !important;
}

.account-settings .content {
  background-color: var(--bg-color);
  padding-right: 2rem;
  padding-left: 2rem;
}

.account-settings .content header {
  margin-bottom: 1rem;
}

.account-settings .content header h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.account-settings .content header p {
  color: var(--primary-font-color);
}

.account-settings .content .box {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0px 0px 7px -3px var(--primary-font-color);
}

.account-settings .content .box h4 {
  font-size: 1.15rem;
  font-weight: 600;
}

/* End Account Settings */
